.jumbotron {
  color: green;
  background-color: antiquewhite;
  background-image: url(../img/burger/512x512.png);
  background-repeat: no-repeat;
  background-position: center;
}
body {
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 2rem;
}
.eat-burger:hover, .add-burger:hover, .delete-burger:hover {
  opacity: 0.8;
}
.alert {
  font-size: 1rem;
}
.modal-header, .modal-footer {
  background-color: antiquewhite;
}